<br>
<div class="container-fluid">
<h3><a class="link-primary" href="/customers">Customers</a></h3>
<p>add a customer to the customers table</p>
<p>browse / edit existing customers in the database</p>
<br>
<h3><a class="link-primary" href="/products">Products</a></h3>
<p>add a product to the products table</p>
<p>browse / edit existing products in the database</p>
<br>
<h3><a class="link-primary" href="/purchases">Purchases</a></h3>
<p>Add records to the purchases table and the purchases_products table</p>
<p>browse / edit existing purchases in the database</p>
<br>
<h3><a class="link-primary" href="/giftcards">Giftcards</a></h3>
<p>add a giftcard to the giftcards table</p>
<p>browse / edit existing giftcards in the database</p>
<br>
<h3><a class="link-primary" href="/purchasesproducts">Purchases+Products</a></h3>
<p>add a relationship between purchase records and product records</p>
<p>browse / edit existing purchases_products in the database</p>
</div>