{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'css/tailwind-output.css' %}">

    <title>OSU CS325 - kiserd - Portfolio</title>
  </head>
  <body class="bg-gray-400">
    <nav>
        <a class="font-extrabold" href="#">Kiserd</a>
        <button class="" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span>
        </button>
        <div class="" id="navbarNavAltMarkup">
            <div class="">
            <a class="font-extrabold" href="/">Home <span class="">(current)</span></a>
            <a class="font-extrabold" href="/puzzle">Puzzle</a>
            <a class="" href="/puzzle_solved">Solved</a>
            </div>
        </div>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
        
  </body>
</html>