{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS325 Sudoku</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>
  <body class="bg-custom-background font-serif leading-normal tracking-normal">
    <nav class="text-custom-text-primary">
        <a class="font-extrabold" href="#">Kiserd</a>
        <button class="" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span>
        </button>
        <div class="" id="navbarNavAltMarkup">
            <div class="">
            <a class="font-extrabold" href="/">Home</a>
            <a class="font-extrabold" href="/puzzle">Puzzle</a>
            <a class="" href="/puzzle_solved">Solved</a>
            </div>
        </div>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
        
  </body>
</html>