{% extends "home/base.html" %}
{% block content %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'home/style.css' %}"> -->
    <div class="mx-auto w-3/4 flex self-center justify-center bg-custom-warm-extraLight">
        <div class="grid grid-cols-9">
            {% for _ in '012345678'|make_list %}
            <div class="col-span-1 grid grid-rows-9">
                {% for _ in '012345678'|make_list %}
                <div class="bg-custom-warm-light w-12 h-12 border-2 border-custom-cool-dark flex justify-center place-items-center">
                    5
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <form action="/check" method="GET">
        <table class="table">
            <tbody>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='11' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='12' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='13' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='14' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='15' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='16' placeholder="9" value=9 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='17' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='18' placeholder="6" value=6 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='19' /></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='21' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='22' placeholder="1" value=1 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='23' placeholder="9" value=9 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='24' placeholder="6" value=6 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='25' placeholder="8" value=8 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='26' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='27' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='28' placeholder="4" value=4 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='29' /></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='31' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='32' placeholder="8" value=8 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='33' placeholder="2" value=2 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='34' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='35' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='36' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='37' placeholder="5" value=5 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='38' placeholder="1" value=1 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='39' /></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='41' placeholder="4" value=4 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='42' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='43' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='44' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='45' placeholder="9" value=9 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='46' placeholder="6" value=6 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='47' placeholder="8" value=8 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='48' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='49' placeholder="5" value=5 readonly /></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='51' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='52' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='53' placeholder="6" value=6 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='54' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='55' placeholder="5" value=5 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='56' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='57' placeholder="2" value=2 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='58' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='59' /></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='61' placeholder="8" value=8 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='62' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='63' placeholder="3" value=3 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='64' placeholder="4" value=4 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='65' placeholder="7" value=7 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='66' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='67' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='68' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='69' placeholder="1" value=1 readonly /></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='71' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='72' placeholder="3" value=3 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='73' placeholder="1" value=1 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='74' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='75' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='76' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='77' placeholder="9" value=9 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='78' placeholder="8" value=8 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='79' /></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='81' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='82' placeholder="4" value=4 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='83' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='84' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='85' placeholder="6" value=6 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='86' placeholder="3" value=3 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='87' placeholder="1" value=1 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='88' placeholder="2" value=2 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='89' /></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='91' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='92' placeholder="6" value=6 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='93' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='94' placeholder="9" value=9 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='95' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='96' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='97' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='98' /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='99' /></td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}
