{% extends "home/base.html" %}
{% block content %}
    <form action="/check" method="GET">
        <table class="table">
            <tbody>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='11' placeholder="5" value=5 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='12' placeholder="7" value=7 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='13' placeholder="4" value=4 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='14' placeholder="2" value=2 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='15' placeholder="1" value=1 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='16' placeholder="9" value=9 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='17' placeholder="3" value=3 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='18' placeholder="6" value=6 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='19' placeholder="8" value=8 readonly /></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='21' placeholder="3" value=3 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='22' placeholder="1" value=1 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='23' placeholder="9" value=9 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='24' placeholder="6" value=6 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='25' placeholder="8" value=8 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='26' placeholder="5" value=5 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='27' placeholder="7" value=7 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='28' placeholder="4" value=4 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='29' placeholder="2" value=2 readonly /></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='31' placeholder="6" value=6 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='32' placeholder="8" value=8 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='33' placeholder="2" value=2 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='34' placeholder="7" value=7 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='35' placeholder="3" value=3 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='36' placeholder="4" value=4 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='37' placeholder="5" value=5 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='38' placeholder="1" value=1 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='39' placeholder="9" value=9 readonly /></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='41' placeholder="4" value=4 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='42' placeholder="2" value=2 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='43' placeholder="7" value=7 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='44' placeholder="1" value=1 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='45' placeholder="9" value=9 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='46' placeholder="6" value=6 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='47' placeholder="8" value=8 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='48' placeholder="3" value=3 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='49' placeholder="5" value=5 readonly /></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='51' placeholder="1" value=1 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='52' placeholder="9" value=9 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='53' placeholder="6" value=6 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='54' placeholder="3" value=3 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='55' placeholder="5" value=5 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='56' placeholder="8" value=8 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='57' placeholder="2" value=2 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='58' placeholder="7" value=7 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='59' placeholder="4" value=4 readonly /></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='61' placeholder="8" value=8 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='62' placeholder="5" value=5 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='63' placeholder="3" value=3 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='64' placeholder="4" value=4 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='65' placeholder="7" value=7 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='66' placeholder="2" value=2 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='67' placeholder="6" value=6 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='68' placeholder="9" value=9 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='69' placeholder="1" value=1 readonly /></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='71' placeholder="2" value=2 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='72' placeholder="3" value=3 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='73' placeholder="1" value=1 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='74' placeholder="5" value=5 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='75' placeholder="4" value=4 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='76' placeholder="7" value=7 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='77' placeholder="9" value=9 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='78' placeholder="8" value=8 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='79' placeholder="6" value=6 readonly /></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='81' placeholder="9" value=9 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='82' placeholder="4" value=4 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='83' placeholder="5" value=5 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='84' placeholder="8" value=8 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='85' placeholder="6" value=6 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='86' placeholder="3" value=3 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='87' placeholder="1" value=1 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='88' placeholder="2" value=2 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='89' placeholder="7" value=7 readonly /></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-1"><input class="form-control" type="number" name='91' placeholder="7" value=7 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='92' placeholder="6" value=6 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='93' placeholder="8" value=8 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='94' placeholder="9" value=9 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='95' placeholder="2" value=2 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='96' placeholder="1" value=1 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='97' placeholder="4" value=4 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='98' placeholder="5" value=5 readonly /></td>
                    <td class="col-sm-1"><input class="form-control" type="number" name='99' placeholder="3" value=3 readonly /></td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}
